html {
    background-image: linear-gradient(to bottom right, #ff5b94, #8441a4);
    height: 100%;
}
body {
    background-color: transparent;
}
.App {
    text-align: center;
    color: whitesmoke;
    font-size: 35px;
    margin-top: 20%;
}

.App-title {
    font-size: 50px;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds{
    display: inline;
    margin: 10px;
}

.deadlineInput {
    font-size: 18px;
    margin: 5px;
    height: 40px;
}

.button1 {
    height: 40px;
    background-color: transparent;
    border: none;
}

.space {
    margin: 50px;
}